body{
    background-color: rgb(0, 255, 94);
    @media(min-width:500px){
        background-color:rgb(0, 255, 94);
    }
    @media (min-width:768px){
        background-color:rgb(0, 255, 94);
    }
    @media(min-width:1024px){
        background-color: rgb(0, 255, 94);
    }
}

ul.dropdown-menu {
    background-color: #D09FF8;
    @media(min-width:500px){
        background-color: #bdbfbf;
    }
    @media (min-width:768px){
        background-color: #ffffeb;
    }
    @media(min-width:1024px){
        background-color: #D09FF8;
    }
}
.card{
    background-color:#D09FF8;
    @media(min-width:500px){
        background-color: #6580A2;
    }
    @media (min-width:768px){
        background-color:#ecd6c0;
    }
    @media(min-width:1024px){
        background-color:#D09FF8;
    }
}
span{
    color: white;
    @media(min-width:500px){
        color: white;
    }
    @media (min-width:768px){
        color: #8C544F;
    }
    @media(min-width:1024px){
        color: white;
    }
}
